.DS_Store
desktop.ini

*~
*.log
.classpath
.project
*.ipr
*.iws
*.iml
.settings
*.class
*.bak
*.exe

**/.git/
**/.svn/

**/target/
**/build/
**/bin/
**/node_modules/
**/nodejs/

.idea/
out/
dist/

# Gradle
.gradle
/build/
